<!-- books/templates/books/readlist.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readlist</title>
</head>
<body>
    <h1>Readlist</h1>

    {% if books %}
    <ul>
        {% for book in books %}
            <li>
                <div class='book' style='background: linear-gradient(#000, rgba(0, 0, 0, 0));'>
                    <a href='#' target='_blank'><img class='thumbnail' src='{{ book.thumbnail }}' alt='cover'></a>
                    <div class='book-info'>
                        <h3 class='book-title'><a href='#' target='_blank'>{{ book.title }}</a></h3>
                        <div class='book-authors'>{{ book.authors }}</div>
                        <div class='info'>{{ book.description }}</div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No books in the readlist.</p>
    {% endif %}
</body>
</html>
